trigger:
  - main

pool:
  name: PoolCompilacion
  demands:
  - agent.name -equals AgentVR

variables:
  DOCKER_HOST: tcp://127.0.0.1:2375
  NODE_VERSION: '18.x'
  IMAGE_NAME: 'prueba-devops'
  REGISTRY: 'docker.io'
  DOCKER_REPO: 'aucancelaa/prueba-devops'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: $(NODE_VERSION)
    displayName: "Instalar Node.js"

  - script: npm install
    displayName: "Instalar dependencias"

  # Tests desactivados
  # - script: npm test -- --coverage
  #   displayName: "Ejecutar tests con Jest"

  - task: Docker@2
    displayName: "Build & Push Docker image"
    inputs:
      command: buildAndPush
      repository: $(DOCKER_REPO)
      dockerfile: '**/Dockerfile'
      containerRegistry: 'DockerHub-Service-Connection'
      tags: |
        latest
        $(Build.BuildId)

  # Tarea de Trivy removida para evitar fallos en el agente local Windows